setuptools==40.8.0
Pillow==5.4.1
ba_colander==1.0b1
cornice==3.5.1
deform==2.0.7
docutils==0.14
python_magic==0.4.15
Markdown==3.0.1
moviepy==1.0.0
postmarkup==1.2.2
Pygments==2.3.1
pyramid==1.10.2
pyramid_mailer==0.15.1
pytz==2018.9
SQLAlchemy==1.3.1
transaction==2.4.0
WebOb==1.8.5
whoosh==2.7.4
zope==4.0b10
