{% extends "main.jinja2" %}
{% from "widgets/vote_count.jinja2" import vote_count %}
{% block title %} - Viewing {{ page.display_name }}{% endblock %}
{% block content %}
    {% if page.display_name %}
    <h1>{{ page.display_name }}</h1>
    {% endif %}
    {% if revision %}
        {{ w.render_article(page, revision.article) | safe }}
    {% else %}
        {{ w.render_article(page, page.revisions[0].article) | safe }}
    {% endif %}
    <p>
        {% if not revision %}
          {% if page.private %}{% set priv = "Public" %}{% else %}{% set priv = "Private" %}{% endif %}
          {% for item in w.generate_menu("article_not_revision", context, request, 
                                        {"page_id": page.name, "renderer": page.renderer.name,
                                         "private": priv, "up_count": vote_count(page, True),
                                     	 "down_count": vote_count(page, False)}): %}
            <a href="{{ item[0] }}">{{ item[1] }}</a> {% if not item[2] %}|{% endif %}
          {% endfor %}
        {% endif %}
        
        {% if revision %}
          {% for item in w.generate_menu("article_revision", context, request, 
                                {"page_id": page.name, "revision": revision.id}): %}
          <a href="{{ item[0] }}">{{ item[1] }}</a> {% if item[2] %}|{% endif %}
          {% endfor %}
        {% endif %}
    </p>
{% endblock content %}
