{% extends "main.jinja2" %}
{% block title %} - {{ user }}'s Profile{% endblock %}
{% block content %}
    <h3>{{ user }}'s Profile</h3>
    <p>Username: {{ user }}</p>
    <p>Display Name: {{ db_user.full_name }}</p>
    <p>Member Since: {{ db_user.created }}</p>
{% endblock %}
